name: zTUI Runtime Test on Real Windows

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  windows-test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.14.1

      - name: Build
        shell: bash
        run: |
          zig build-exe src/test.zig -O Debug
      - name: Run
        shell: bash
        run: |
          ./test.exe